<!DOCTYPE html>
<html>

<head>
  <title>{{name}} {{year}}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./style.css">
</head>

<body>

  <div class="heading">
    <span class="arrow_previous">◀</span>
    <span class=heading_label>{{name}} {{year}}</span>
    <span class="arrow_next">▶</span>
  </div>

  <br>
  <hr>
  <br>

  <div class="calendar">

    {{#each weeks as |w|}}

    <table>

      {{#each days as |d|}}

      <tr>
        <td class="col_date">{{day}}. {{../../month}}. {{../../year}}</td>
        <td class="col_weekday {{~#if is_non_workday}} non_working_day {{~/if~}}">{{weekday}}</td>
        <td class="col_event">
          <input type="text" value="{{event}}"/>
        </td>
      </tr>

      {{/each}}

    </table>

    <br>

    {{/each}}

  </div>

  <br>
  <hr>
  <br>
    
</body>

</html> 